[Unit]
Description=Prometheus Collectd Exporter
After=network.target

[Service]
Type=simple
User={{ prometheus_exporters_common_user }}
Group={{ prometheus_exporters_common_group }}
ExecStart={{ prometheus_exporters_common_root_dir }}/collectd_exporter 
SyslogIdentifier=prometheus_collectd_exporter
Restart=always

[Install]
WantedBy=multi-user.target
