#!/bin/sh
#
# <daemonname> <summary>
#
# chkconfig:   345 99 01
# description: Manage service prometheus collectd exporter


### BEGIN INIT INFO
# Provides: prometheu-collectd-exporter
# Required-Start: 
# Required-Stop: 
# Should-Start: 
# Should-Stop: 
# Default-Start: 
# Default-Stop: 
# Short-Description: 
# Description: Manage service prometheus collectd exporter
### END INIT INFO

# Source function library.
. /etc/rc.d/init.d/functions

exec="/opt/prometheus/exporters/collectd_exporter_current/collectd_exporter"
prog="collectd_exporter"
# collectd_exporter is not able to manage configuration file
#config="<path to major config file>"

[ -e /etc/sysconfig/$prog ] && . /etc/sysconfig/$prog

lockfile=/var/lock/subsys/$prog

start() {
    [ -x $exec ] || exit 5
    #[ -f $config ] || exit 6
    echo -n $"Starting $prog: "
    # if not running, start it up here, usually something like "daemon $exec"
    daemon {{ prometheus_exporters_common_root_dir }}/collectd_exporter_current/collectd_exporter {% for prometheus_collectd_exporter_collector in prometheus_collectd_exporter_enabled_collectors %}--collector.{{ prometheus_collectd_exporter_collector }} {% endfor %} {% for flag, flag_value in prometheus_collectd_exporter_config_flags.items() %}--{{ flag }}={{ flag_value }} {% endfor %}
    echo
    [ $retval -eq 0 ] && touch $lockfile
    return $retval
}

stop() {
    echo -n $"Stopping $prog: "
    # stop it here, often "killproc $prog"
    killproc /opt/prometheus/exporters/collectd_exporter_current/collectd_exporter
    retval=$?
    echo
    [ $retval -eq 0 ] && rm -f $lockfile
    return $retval
}

restart() {
    stop
    start
}

reload() {
    restart
}

force_reload() {
    restart
}

rh_status() {
    # run checks to determine if the service is running or use generic status
    status $prog
}

rh_status_q() {
    rh_status >/dev/null 2>&1
}


case "$1" in
    start)
        rh_status_q && exit 0
        $1
        ;;
    stop)
        rh_status_q || exit 0
        $1
        ;;
    restart)
        $1
        ;;
    reload)
        rh_status_q || exit 7
        $1
        ;;
    force-reload)
        force_reload
        ;;
    status)
        rh_status
        ;;
    condrestart|try-restart)
        rh_status_q || exit 0
        restart
        ;;
    *)
        echo $"Usage: $0 {start|stop|status|restart|condrestart|try-restart|reload|force-reload}"
        exit 2
esac
exit $?
