groups:
- name: alert.rules
  rules:
  - alert: service_down
    expr: up == 0
    annotations:
      summary: '{{ $labels.job }} is down'
  - alert: cpu_threshold_exceeded
    expr: (1 - avg by(job) (irate(node_cpu{mode="idle"}[5m]))) > 0.9
    annotations:
      description: '{{ $labels.job }}''s CPU usage has exceeded the 90% threshold
        with a 5 minute load value of {{ $value }}.'
      summary: '{{ $labels.job }}''s CPU usage is dangerously high'
  - alert: mem_threshold_exceeded
    expr: ((node_memory_MemTotal - node_memory_MemFree - node_memory_Cached) / (node_memory_MemTotal))
      * 100 > 90
    annotations:
      description: '{{ $labels.job }}''s memory usage has exceeded the 90% threshold
        with a value of {{ $value }}%.'
      summary: '{{ $labels.job }}''s memory usage is dangerously high'
  - alert: filesystem_threshold_exceeded
    expr: node_filesystem_avail{mountpoint="/"} / node_filesystem_size * 100 < 20
    annotations:
      description: '{{ $labels.job }}''s filesystem only has {{ $value }}% free.'
      summary: '{{ $labels.job }}''s filesystem usage is dangerously high'
