description "Prometheus blackbox Exporter"
start on (local-filesystems and net-device-up IFACE!=lo)
stop on runlevel [016]

respawn
{% if upstart_version.stdout | replace("init (upstart ", "") |replace(")","") | version_compare('1.4', '>=') %}
setuid {{ prometheus_exporters_common_user }}
setgid {{ prometheus_exporters_common_group }}
{% endif %}

script
  exec >> "{{ prometheus_exporters_common_log_dir }}/blackbox-exporter.log"
  exec 2>&1
  exec {{ prometheus_exporters_common_root_dir }}/blackbox_exporter --config.file "/opt/blackbox_exporter/blackbox.yml"  --collector.{{ prometheus_blackbox_exporter_collector }} {% endfor %} {% for flag, flag_value in prometheus_blackbox_exporter_config_flags.items() %}--{{ flag }}={{ flag_value }} {% endfor %}

end script
